html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.home {
    background-color: #061624;
    max-height: 1200px;
    display: flex;
}

.homeContainer {
  background-image: url('/images/Space_wpp.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex: 1; /* Permet au conteneur de prendre l'espace disponible */
  width: 100%;
  padding-bottom: 60px; /* Espace pour le footer */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

    .homeContainer h1 {

        color: white; /* Couleur du texte */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour le texte */
        font-size: 3rem; /* Taille de la police */
        margin: 0; /* Supprime la marge par défaut */
        padding-top: 20px; /* Ajoute un peu d'espace autour du texte */
    }   


.footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  background-color: #061624;
  border-top: #DEB992 2px solid;
  padding: 10px 0;
  margin-top: auto; /* Pousse le footer vers le bas */
}

.constructionOverlay {
  flex: 1;
  animation: fadeIn 0.8s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #DEB992
}

.project {
    background-color: #06162499;
}

.skills {
    background-color: #2c3e5079;
}

.contactOverlay {
  animation: fadeIn 0.8s ease-in-out;
  min-height: calc(100vh - 140px); /* Hauteur minimale pour permettre le scroll */
}

/* Si ce n'est pas déjà défini */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}